@font-face {
    /* Header and footer font downloaded from https: //www.fontspace.com/wonderbar-font-f24540 */
    font-family: wonderbar;
    src: url(../fonts/wonderbar-font/Wonderbar-pALD.ttf);
}

/*
body,
*/
html {
    height: 100%;
    margin: 0;
}


.bg {
    /* The background image with text added */
    background-image: url("../images/puzzlezoo.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(1, 70, 15);
    background-size: cover;

    /* Add the blur effect 
    background: ;
    filter: blur(8px);
    -webkit-filter: blur(8px); */

}

body {
    /* main text font */
    font-family: "bubblegum sans", cursive;
    font-size: 20px;
    /*  */
}

header {
    /* main header and footer font*/
    font-family: "wonderbar", sans-serif;
    font-size: 30px;
    color: #03071e;
    background-color: #7aa711;
}

footer {
    /* main header and footer font*/
    font-family: "wonderbar", sans-serif;
    font-size: 20px;
    color: #03071e;
    background-color: #7aa711;
}

.container {
    padding-top: 15px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: rgb(1, 70, 15);
}

/* puzzle styles */

.puzzle-piece {
    padding: 0.5px;
    width: 100%;
    z-index: 500;
}

.puzzle-piece.ui-draggable-dragging {
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
    transition: box-shadow .2s;
    z-index: 1000;
}

#instructions-area {
    border-radius: 25px;
    background: linear-gradient(#5a9902, #b2f711);
    padding: 20px;
    width: 400px;
    height: 100%;

    display: none;
}

#board {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: none;
    flex-wrap: wrap;
}

#board .row .col-md-3 {
    border: 1px solid #f9f9f9;
}

.puzzle-space {
    padding: 0;
}

.puzzle-drop-place {
    border: 0.5px solid #f3f3f3;
}

.puzzle-space-holder {
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#pieces-area {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    display: none;
}

#Puzzle-choices {
    border-radius: 25px;
    background: linear-gradient(#5a9902, #b2f711);
    padding: 20px;
    width: 400px;
    height: 100%;
    display: none;
}

#Puzzle-choices a {
    font-size: 25px;
    letter-spacing: 3px;
    color: #03071e;
}

#Puzzle-choices a:hover {
    font-size: 25px;
    letter-spacing: 3px;
    text-decoration: none;
    color: rgb(1, 70, 15);
}

#Puzzle-choices li {
    list-style-type: none;
}

#Puzzle-choices img {
    border-radius: 50%;
    padding: 3px;

}

#puzzle-complete {
    height: 400px;
    width: 400px;
    display: none;
}

#puzzle-complete-message {
    border-radius: 25px;
    background: linear-gradient(#5a9902, #b2f711);
    padding: 20px;
    width: 400px;
    height: 100%;
    display: none;
}

#family-pic {
    border-radius: 25px;
    padding: 20px;
    height: 400px;
    width: 400px;
    display: none;
}