@font-face {
    /* Header and footer font downloaded from https: //www.fontspace.com/wonderbar-font-f24540 */
    font-family: wonderbar;
    src: url(../fonts/wonderbar-font/Wonderbar-pALD.ttf);
}

/*
body,
*/
html {
    height: 100%;
    margin: 0;
}


.bg {
    /* The background image with text added */
    background-image: url("../images/puzzlezoo.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    /* main text font */
    font-family: "bubblegum sans", cursive;
    font-size: 15px;
}

header {
    /* main header and footer font*/
    font-family: "wonderbar", sans-serif;
    font-size: 30px;
    color: #03071e;
    background-color: #7aa711;
}

footer {
    /* main header and footer font*/
    font-family: "wonderbar", sans-serif;
    font-size: 20px;
    color: #03071e;
    background-color: #7aa711;
}

.container {
    padding-top: 15px;
}

.nav-link {
    color: #fff;
}

/* puzzle styles */

.puzzle-piece {
    padding: 0.5px;
    width: 100%;
    z-index: 500;
}


#board .row .col-md-3 {
    border: 1px solid #f9f9f9;
}

.puzzle-space {
    padding: 0;
}

.puzzle-drop-place {
    border: 0.5px solid #f3f3f3;
}

.puzzle-space-holder {
    width: 100%;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#puzzle-complete {
    height: 400px;
    width: 400px;
    display: none;
}